@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

hr {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
}
body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  margin: 0;
  padding: 0;
  height: 100vh;
}
header {
  margin-left: 0;
  margin-right: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #164dca;

  padding-top: 5px;
  padding-bottom: 5px;
}
.headerp {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #164dca;
  margin-left: 25px;
  margin-right: 0;
  text-align: center;
  display: inline-block;
  padding-bottom: 5px;
  border-style: solid;
  border-bottom: thick line #ff0000;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}

heading {
  margin-left: 0;
  margin-right: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 21px;
  /*     
    padding-top: 21px;
    padding-bottom: 21px; */
}
heading p {
  text-align: center;
  display: inline-block;
  padding-bottom: 5px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  margin: 0;
  letter-spacing: -0.015em;
  margin-left: 25px;
  
}

content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

content main {
  /* padding-left: 25px; */
  width: 80%;
}

div.maincontent {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

nav {
  width: 20%;
  height: 100%;
  border: 0;
  border-left: 2px solid rgba(0, 0, 0, 0.05);
  /* border-left: 2px solid rgba(0, 0, 0, 1); */
  display: inline-block;
  padding-left: 7px;
}

.answerButton {
  display: flexbox;
}
.answerButton {
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding: 14px;
  background: #ddfbe1;
  box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  letter-spacing: -0.015em;

  color: #5f5f5f;

  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin: 3px;
  -webkit-filter: brightness(95%);
  /* -webkit-filter: saturate(40%); */
}
.answerButton:hover {
  /* -webkit-filter: saturate(100%); */
  -webkit-filter: brightness(100%);
}

.initialbutton{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.015em;
  margin-bottom: 10px;
  width: 100%;
  height: min-content;
  /* height: 50px; */
  left: 20px;
  top: 135px;

  background: #DDE6FB;
  box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
justify-content: center;
align-content: center;
flex-direction: column;
-webkit-filter: brightness(95%);
padding: 14px;
/* -webkit-filter: saturate(40%); */
}
.initialbutton:hover {
/* -webkit-filter: saturate(100%); */
-webkit-filter: brightness(100%);
}
.initialbuttonp{
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
  
}
.initialbuttona{
  text-decoration: none;
}
.initialbuttona:hover{
  text-decoration: none;
}

/* * editor buttons */
.smallbutton{
  display: table-cell;
  text-align: center;
  width: 50px;
  height: 50px;
  background: #F2EC5C;
  box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-left:10px;
  display: inline-block;
}

.lni{
  text-align: center;
  font-size: 32px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
div.editorButtons{
  display: inline-table;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  /* border: 1px solid black; */
  min-width: max-content;
}

div.editorbutton{
  padding: 0;
  margin: 0;
  height: 50px;
  display: table-cell;
  background: #DDE6FB;
  box-shadow: 0px 3px 14px -5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #5F5F5F;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.editOperatorText {
  width: 80%;
  border: 2px solid #F7F7F7;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
}

.editOperatorText:hover{
  cursor: pointer;
  -webkit-filter: brightness(90%);
}